.idea/
prueba.py
extra_test.py
*.json
compropago/__pycache__/
compropago/tools/__pycache__/
compropago/factory/__pycache__/
compropago/factory/models/__pycache__/
compropago/*.pyc
compropago/tools/*.pyc
compropago/factory/*.pyc
compropago/factory/models/*.pyc
__pycache__/unit_test.cpython-36.pyc
dist/
